$header-height: 75px;
$fields: 20px;
$nav-width: 320px;
$m-nav-width: 260px;
$html-background: #e6e6e6;
$orange: #f2994a;
$red: #eb5757;
$yellow: #f2c94c;
$green3: #6fcf97;
$grey1: #e5e5e5;
$gray1: #333333;
$gray2: #4f4f4f;
$gray3: #828282;
$gray4: #bdbdbd;
$gray5: #e0e0e0;
$gray6: #f2f2f2;
$font-size: 18px;
$font-family: "Roboto";
